<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-lewagon fixed-top">
     <div class="container-fluid justify-content-start p-2">
       <%= link_to "ALL LISTS", lists_path, class: "text-white text-decoration-none m-2" %>
       <%= link_to "NEW LIST", new_list_path, class: "text-white text-decoration-none m-2" %>
     </div>
   </nav>
      <%= yield %>
  </body>
</html>
