<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-lewagon">
      <div class="container-fluid justify-content-start p-3">
        <%= link_to "All lists", lists_path, class: "btn btn-primary" %>
        <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
      </div>
    </nav>
      <%= yield %>
  </body>
</html>
